@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;
$gr: #42AB75;

@import "_reset.scss";
@import "_media.scss";

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri-regular.woff') format('woff'),
  url('../fonts/Calibri-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}




a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}


.lcpadding {
  padding-left: calc((100% - 1380px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}



.rcpadding {  
  padding-right: calc((100% - 1380px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}


/*end modal*/


/*top menu mnu*/

.menu__list {
  > li {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  li {
    position: relative;
  }
  a.parent {
    margin-right: 25px;
  }
}
.menu__list {
  display: flex;  

}
.menu__link {
  display: block;
  height: 20px;
}
.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;  
  display: none;
  li {
    padding: 10px;
  }
  > li {
    background-color: #000; 
  }
}

.sub-menu__link {
  color: #fff;
}



.menu__arrow {}
.menu-arrow {
  display: none;
  width: 0;
  height: 0;  
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  &.active {
    transform: rotate(180deg);
  }
}

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent;
}

body {
  &.mouse {
    .menu__list {      
      > li:hover {
        .sub-menu__list {
          display: block;
        }    
      }
    }
    .sub-menu__list {
      > li {      
        &:hover {
          .sub-sub-menu__list {
            display: block;
          }      
        }
      }
    }
  }
  &.touch {
    .menu-arrow {
      display: block;
    }
    .sub-menu__list.open {
      display: block;
    }
    .sub-sub-menu__list.open {
      display: block;
    }
  }
}

@media (max-width : 767px) {
  .menu__list {
    display: block;
  }
  .sub-menu__list {
    position: static;
  }
  .sub-sub-menu__list {
    position: static;
  }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;  
  }
  .menu-arrow {
    top: 0px;
    right: 5px;
  }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.4s linear;          
    &.open {    
      max-height: 300px;
    }

  }
}

/*end top menu mnu*/


.head {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F6F6F6;
  position: relative;
  z-index: 4;
}



.head__row {
  display: flex;
  align-items: center;  
}

.head__logo {
  display: block;
  flex: 0 0 auto;
  margin-right: 63px;
  width: 282px;
  img {
    max-width: 100%;
  }
}

.head__cols {
  display: flex;  
  align-items: center;  
  flex-grow: 1;  
  justify-content: space-between;
}

.head__col {
  margin-left: 0px;
}

.head__col-cont-w {
  margin-top: 6px;
  margin-bottom: 31px;
  display: flex;
}

.head__time,
.head__mail {
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  color: rgb(40, 38, 57);
  display: inline-flex;
  align-items: center;    
  padding-left: 28px;
  &:not(:last-child) {
    margin-right: 168px;
  }
}

.head__mail {
  background: url("../img/icons-hd-1.svg") $nr left center;
}

.head__time {
  background: url("../img/icons-hd-2.svg") $nr left center;
  min-height: 20px;
}

.head__col-cont-span {
  margin-right: 10px;
}

.head__menu {
  .head__sub-menu {
    padding-top: 20px;
    position: absolute;
    left: 0;
    top: 20px;
    display: none;        
  }
  ul {
    ul {
      width: auto;
      padding: 30px;      
      background: #FFFFFF;
      box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.2);
      border-radius: 8px;      
      min-width: 335px;
      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        a {
          text-transform: none;
          @media (any-hover: hover) {
            &:hover {
              color: $gr;
            }
          }
        }
      }
    } 
  }
  > ul {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    > li {
      position: relative;
      display: flex;
      align-items: center;              
      position: relative;
      &:not(:last-child) {
        margin-right: 81px;
      }   
      @media (any-hover: hover) {
        &:hover {
          .head__sub-menu {
            display: block;
          }
        }
      }  

      &.has-burger {

      }
    }
    a {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: rgb(40, 38, 57);
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 1px solid $tr;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #42AB75;
        }
      }
    }
  }
}


.burger {
  height: 16px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;  
  flex: none;
  transform: translate(0%, -2px);
  > div {
    background: rgb(66, 171, 117);
    height: 2px;
    width: 100%;
  }
}


.head__col-2 {
  text-align: right;
  margin-left: auto;
  margin-top: 14px;
}

.head__phone {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(28, 36, 103);
  display: block;
  margin-bottom: 13px;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: inline-flex;

  background: linear-gradient(131.86deg, rgb(66, 171, 117) 26.37%, rgb(28, 36, 103) 122.56%);
  border-radius: 8px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;  
  transition: 0.5s;
  position: relative;
  i {
    background: url("../img/arr-btn-wh.svg") $nr 0px 0;
    width: 21px;
    height: 16px;    
    flex: none;
    margin-left: 10px;
  }
  > * {
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
    background: linear-gradient(131.18deg, #42AB75 26.67%, #1C2467 77.31%);  
    opacity: 0;    
    transition: 0.5s;
  }  
  &:hover {
    text-decoration: none;    
    &:before { 
      opacity: 1;
    }
  }
}


.hero {
  position: relative;
  height: 900px;  
  padding-top: 136px;
  margin-bottom: 149px;
  margin-left: auto;
  margin-right: auto;
  display: flex;  
  justify-content: center;
  > img {

    display: block;
    max-width: 1920px;
  }
}

.hero__img-w {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.hero__row {
  display: flex;    
  align-items: flex-start;  
}

.hero__content {
  width: 100%;
  position: absolute;
  top: 65px;  
  justify-content: space-between;
  z-index: 2;
}

.hero__texts {  
  max-width: 970px;
  width: 100%;
}

.hero__title {
  font-style: italic;
  font-weight: 800;
  font-size: 58px;
  text-transform: uppercase;
  color: rgb(40, 38, 57);
  margin-bottom: 5px;
}

.hero__subtitle {
  font-style: italic;
  font-weight: 500;
  font-size: 23px;
  text-align: left;
  text-transform: uppercase;
  color: rgb(77, 77, 77);
}

.hero__calc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);  
  display: flex;  
  flex-direction: column;                              
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;  
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  background: rgb(66, 171, 117);
  margin-left: 66px;
  padding-bottom: 14px;
  cursor: pointer;
  position: relative;
  span {
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 8px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;  
    background: linear-gradient(131.86deg, #42AB75 26.37%, #1C2467 122.56%);      
    opacity: 0;    
    transition: 0.5s;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &:after {
    position: relative;
    content: "";
    display: block;    
    top: 0;
    left: 0;    
    width: 24px;
    height: 31px;
    background: url("../img/arrow.svg") center no-repeat;    
    background-size: 24px;
  }  
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(66, 171, 117, 0.55);
  }
  70% {
    box-shadow: 0 0 0 31px rgba(66, 171, 117, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(66, 171, 117, 0);
  }
}

.plus__item {
  z-index: 4;
}

.hero__plus {
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%; 
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      animation: pulse 2s ease infinite;
    }
  }

  &.active {
    animation: pulse 2s ease infinite;
    &:after {
      z-index: 5;
    }
    &:before {
      z-index: 4;
    }

    &:after {
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
  }
  &:before {
    content: "";
    display: block;
    border-radius: 50%;  
    flex: 0 0 auto;   
    background-color: rgba(66, 171, 117, 0.5);
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  &:after {
    background: url("../img/plus.svg") center no-repeat rgb(66, 171, 117);
    content: "";
    display: none;
    display: block;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;     
    transition: 0.5s; 
    z-index: 3;  
  }
}


.plus__item {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 11px -2px;
  border-radius: 30px;
  padding: 25px;    
  width: 600px;
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;  
  transition: 0.5s; 
  &.show {
    opacity: 1;
    visibility: visible;
  } 
}

.hero__plus.active {
  .plus__item {    
    opacity: 1;
    visibility: visible;
  }
}

.plus-1 {      
  left: 740px;    
  top: 304px;
  .plus__item {
    left: 15px;
    top: 30px;    
  }

}
.plus-2 {
  left: 712px;
  top: 568px;
  .plus__item {
    left: 25px;
    bottom: 25px;
  }
}
.plus-3 {
  left: 570px;
  top: 638px;
  .plus__item {
    left: 30px;
    bottom: 30px;
  }
}
.plus-4 {
  right: 382px;
  top: 171px;
}  

.sabout {
  padding-bottom: 150px;
}

.contain {
}

.sabout__row {
  display: flex;  
  align-items: center;
}

.sabout__l {
  width: 50%;
  padding-right: 92px;
}

.h2 {
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(40, 38, 57);
  font-style: italic;
  display: flex;  
  margin-bottom: 30px;
  position: relative;
  padding-left: 16px;
  &:before {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    display: block;
    background: linear-gradient(rgb(66, 170, 117) 0%, rgb(66, 171, 117) 0.01%, rgb(28, 36, 103) 100%);
    width: 6px;
    height: 48px;
    flex: 0 0 auto;    
  }
}


.p {
  font-size: 20px;
  line-height: 1.3;
  color: rgb(76, 76, 76);
  padding-left: 16px;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.btn-o {
  display: inline-flex;
  padding-right: 30px;
  background-image: url("../img/arr-green.svg");
  background-repeat: no-repeat;
  background-position: right center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  color: rgb(66, 171, 117);  
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.sabout__btn {
  margin-top: 15px;
}

.sabout__r {
  width: 50%;
  border-radius: 30px;
  overflow: hidden;
}

.sabout__img-w {
  overflow: hidden;
  img {  
    border-radius: 30px;
    width: 100%;
  }
}

.sabout__img {
}

.sadvantages {
  padding-bottom: 150px;
}

.sadvantages__row {
  display: flex;
}

.sadvantages__l {
  width: 50%;
  padding-right: 118px;
}

.sadvantages__r {
  width: 50%;
}

.sadvantages__col {
  width: 33.3333%;
  padding-left: 11px;
  padding-right: 11px;
}

.sadvantages__item {
  height: 218px;
  background: rgb(66, 171, 117);
  border-radius: 30px;
  padding: 30px 10px;
  text-align: center;
}

.sadvantages__img-w {
  background: rgb(255, 255, 255);
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sadvantages__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: rgb(255, 255, 255);
}

.calcform {
  padding-bottom: 150px;
}

.calcform__form {
  padding: 50px 60px 55px;
  background-color: #42AB75;
  background-image: url("../img/calcform-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;  
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 0;
    width: 500px;
    height: 500px;
    background: radial-gradient(50% 50% at 50% 50%, #56C089 0%, rgba(86, 192, 137, 0) 100%);

  }  
}

.calcform__l {
  position: relative;
  z-index: 2;
}

.calcform__title {
  font-style: italic;
  font-weight: 800;
  font-size: 42px;
  text-align: left;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.calcform__form-row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 760px;
}

.calcform__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}

.input-text {
  width: 100%;
  border: none;
  height: 48px;  
  background: rgb(241, 241, 241);
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  &::placeholder {
    color: rgb(168, 168, 168);    
  }
}

.calcform__btn {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  left: 330px;
  top: 2466.35px;
  background: #252636;
  border-radius: 8px;            
  &:hover {
    background: #414255;
  }
}

.calcform__label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin-top: 15px;
  max-width: 574px;
  input[type="checkbox"] {
    display: none;
    + span {
      flex: 0 0 auto;
      background-color: #FFF;
      border-radius: 6px;
      width: 24px;
      height: 24px;
      margin-right: 15px;
      margin-top: -5px;
    }
    &:checked {
      + span {
        background: url("../img/check.svg") center  no-repeat rgb(255, 255, 255);
      }
    }
  }  
}



.calcform__checkbox-txt {
  font-style: italic;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.calcform__checkbox-link {
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
}

.ourprojects {
  padding-bottom: 150px;
}

.ourprojects__row {
  margin-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
}

.ourprojects__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 33.333%;
  margin-bottom: 45px;
}

.ourprojects__item {
  display: block;
  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
      .ourprojects__img-w {
        &:before {
          height: 200px;
        }
      }
      .ourprojects__arrow {      
        background: url("../img/arr-round-bl.svg") $nr center;
      }
      .ourprojects__action {

      }
    }
}//hover
}

.ourprojects__img-w {
  height: 400px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #42AB75 -2.51%, rgba(28, 36, 103, 0) 100%);    
    transition: 0.5s;
  }  
}

.ourprojects__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.ourprojects__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.ourprojects__arrow {
  display: block;
  margin-left: 15px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  background: url("../img/arr-round-wh.svg") $nr center;
}

.ourprojects__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ourprojects__geo {
  padding-left: 26px;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  padding-top: 2px;
  background-position: left top;
  line-height: 1.1;
  min-height: 24px;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 14px;
  color: rgba(40, 38, 57, 1);
}

.ourprojects__btn {
  padding: 0 19px;
}
.ourprojects__btn-w {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.ourprojects__btn.btn {
}


.services {
  background: rgb(247, 247, 247);
  padding-top: 100px;
  padding-bottom: 80px;
}

.services__txt {
  padding-left: 16px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.3;  
  color: rgb(76, 76, 76);
}

.services__row {
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
}

.services__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-bottom: 19px;
}

.services__item {
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.services__l {
  width: 345px;
}

.services__r {
  background: rgb(66, 171, 117);
  flex: 1 1 auto;
  padding-top: 92px;
  padding-left: 30px;
  padding-right: 30px;
}

.services__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}


*[class$="__btn"] {  
  display: inline-flex;
  align-items: center;
  justify-content: center;  
  transition: 0.5s;
  &:hover {
    text-decoration: none;    
  }
}

.services__btn {
  padding: 0 34px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(28, 36, 103);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(214, 235, 231);
  border-radius: 8px;
  height: 50px;    
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    border: 1px solid rgb(214, 235, 231);
    background: rgb(37, 38, 54);
    color: rgb(255, 255, 255);
  }
}


.scheme {
  padding-top: 150px;
  padding-bottom: 150px;
}




.scheme__txt {
  padding-left: 16px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.3;  
  color: rgb(76, 76, 76);
}

.scheme__row {
  background: rgb(246, 246, 246);
  border-radius: 30px;
  display: flex;
  margin-top: 50px;
}

.scheme__item {
  width: 25%;
  padding: 25px;
  &:not(:last-child) {
    .scheme__signs {
      position: relative;
      &:before {        
        flex: none;
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        top: 0;
        width: 48px;
        height: 68px;
        background: url("../img/arr-scheme.svg") $nr 0 0 ;
      }  
    }    
  }
}

.scheme__signs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}

.scheme__icon {
  width: 68px;
  height: 68px;
  background: rgb(66, 171, 117);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scheme__arr {
}

.scheme__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(40, 38, 57);
  margin-bottom: 15px;
  font-style: italic;
  span {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgb(66, 171, 117);
  }
}


.scheme__cont {
  font-size: 20px;
  line-height: 1.3;  
  color: rgb(40, 38, 57);
}

.calcform-2 {
  padding-bottom: 150px;
  .calcform__label {
    max-width: 100%;
  }
}

.calcform-2__form {  
  border-radius: 30px;
  padding: 93px 42px 95px 346px;
  background: #42AB75 url("../img/form-woman.png") $nr left 18px bottom;
}

.calcform-2__title {
  font-style: italic;
  font-weight: 800;
  font-size: 42px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.calcform__w {

}

.calcform-2__row {
  display: flex;
  margin-bottom: 10px;
  .input-text {
    margin-right: 20px;
  }
  .calcform__btn {
    max-width: 230px;
  }
}


.footer {
  background: rgb(37, 38, 54);
  padding-top: 100px;
  padding-bottom: 28px;
}



.footer__top {
  display: flex;
  padding-bottom: 32px;
}

.footer__separator {  
  border-bottom: 1px solid rgba(65, 163, 113, 0.5);
}

.footer__logo {
  display: inline-flex;
  flex: 0 0 auto;
  width: 282px;
  img {
    max-width: 100%;
  }
}

.footer__col-1 {
  margin-top: -40px;
}

.footer__col-1-cont {
  margin-top: 25px;
}

.foot__polit {
  font-size: 18px;
  text-decoration-line: underline;  
  color: rgb(255, 255, 255);
  opacity: 0.9;
  display: block;
}

.footer__rights {
  font-size: 18px;  
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: 7px;
  line-height: 1.2;
}



.footer__col-2-col {
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(66, 171, 117);
  margin-bottom: 30px;
}

.footer__ul {
  li {
    line-height: 1.4;
    margin-bottom: 13px;
    a {
      font-weight: 500;
      font-size: 16px;      
      color: rgb(255, 255, 255);
      opacity: 0.9;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid rgba(#42AB75, 0.9);
      }
    }
  }
}


.row {
  display: flex;


}


.col-25 {
  width: 25%;


}


.footer__col-4 {  
  display: flex;  
  flex-direction: column;  
  align-items: flex-end;
}

.footer__phone {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  display: inline-flex;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none;
  }
}

.footer__mail {
  display: block;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  background: url("../img/icons-hd-1.svg") $nr left center;
  padding-left: 28px;
  &:hover {
    text-decoration: none;
  }
}

.footer__mail-span {
  margin-right: 10px;
}

.footer__dw {
  display: flex;
  padding-top: 29px;
  align-items: center;
}

.footer__dw-col-1 {
  display: flex;  
}

.footer__dw-txt {
  font-size: 18px;
  line-height: 1.2;  
  color: rgb(255, 255, 255);
  opacity: 0.9;  
}

.footer__dw-logo-1 {
  display: inline-flex;
  flex: 0 0 auto;
}

.footer__dw-col-2 {
  display: flex;
}

.footer__dw-txt-2 {
  font-size: 18px;
  line-height: 1.2;  
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-right: 30px;
  display: flex;  
  align-items: center;
  &:hover {
    text-decoration: none;
  }
  img {
    margin-left: 30px;
    flex: none;
  }
}

.footer__dw-logo-2 {
}



.plus__r > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.plus__title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(40, 38, 57);
  margin-bottom: 10px;
  width: 100%;  
  flex: none;
}

.plus__row {
  display: flex;  
  flex-wrap: wrap;
}

.plus__l {
  width: calc(100% - 207px);
}

.plus__r {
  width: 190px;
  flex: 0 0 auto;
  margin-left: 17px;  
  border-radius: 30px;
  overflow: hidden;
}

.plus__text {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(76, 76, 76);
  margin-bottom: 10px;
}

.plus__btn {
  text-transform: none;
}


.hero__contain {
  position: relative;
  width: 100vw;  
}
.hero__contain-w {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;  
  align-items: flex-end;          
  justify-content: center;
}


.bread__ul {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  li {
    margin-right: 10px;
    position: relative;
    display: flex;    
    align-items: center;    
    &:not(:last-child) {      
      &:after {        
        transform: translateY(2px);
        margin-left: 10px;
        content: "";
        display: block;        
        flex: none;
        width: 8px;
        height: 16px;
        background: url("../img/bread.svg") $nr 0 0;        
      }  
    }
  }
  a {
    font-size: 18px;
    color: rgb(66, 171, 117);
  }

  span {
    font-size: 18px;
    color: #282639;
  }
}

.page {
  padding-top: 40px;
}

.servs__row {
  display: flex;  
  margin-bottom: 150px;
}
.servs__l {
  width: 25%;
  padding-right: 23px;
}
.servs__txt {
  font-size: 20px;
  line-height: 130%;
  color: #4C4C4C;
}
.servs__r {
  width: 75%;
}

.pl-17 {
  padding-left: 17px;
}

.servs__items {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
}

.servs__col {
  margin-bottom: 21px;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.servs__item {
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  @media (any-hover: hover) {
    &:hover {
      &:before {
        height: 200px;
      }
    }
  }
  &:before {    
    transition: 0.5s;  
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #42AB75 -2.51%, rgba(28, 36, 103, 0) 100%);
  }  
}

.servs__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.servs__content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.servs__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-style: italic;
  margin-bottom: 15px;
}

.servs__btn {
}
.orojects__text {
  font-size: 20px;
  line-height: 130%;
  color: #4C4C4C;
  max-width: 590px;
}

.orojects__row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;  
  flex-wrap: wrap;
  margin-top: 40px;
}

.show-1199,
.show-991,
.show-767,
.show-640,
.show-575,
.show-480 {
  display: none;
}

//2000

@import "_media";


@media only screen and (max-width : 1415px) {

  .head__logo {
    width: 212px;
  }
  .head__menu > ul > li:not(:last-child) {
    margin-right: 61px;
  }
  .hero__title {
    font-size: 52px;
  }
  .sabout__img-w {

  }
  .sadvantages__l {
    width: 40%;
    padding-right: 80px;
  }
  .sadvantages__r {
    width: 60%;  
  }
  //sections
  .servs__row,
  .hero {
    margin-bottom: 100px;
  }
  .scheme {
    padding-top: 100px;
  }
  .calcform-2,
  .scheme,
  .ourprojects,
  .sabout,
  .sadvantages,
  .calcform {
    padding-bottom: 100px;
  }
  .h2 {
    font-size: 44px;
  }
  .ourprojects__img-w {
    height: auto;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    img {

    }
  }
  .services__l {
    width: 50%;
    aspect-ratio: 3 / 3.5;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .services__title {
    font-size: 21px;
  }
  .services__btn { 

  }
  .services__r {
    padding: 92px 20px 10px 20px;
  }
  .scheme__title {
    font-size: 21px;
  }
  .scheme__cont {
    font-size: 18px;
  }
  .calcform-2__title {
    font-size: 40px;
  }
  .footer__logo {
    width: 252px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-25 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .calcform__form {
    background-position: right -210px bottom;
  }
  .servs__item {
    aspect-ratio: 9 / 8;
    width: 100%;
    height: auto;
  }
}//1415


@media (max-width : 1199px) {
  .head__time:not(:last-child), .head__mail:not(:last-child) {
    margin-right: 78px;
  }
  .head__logo {
    margin-right: 32px;
  }
  .head__menu > ul {
    a {
      font-size: 15px;
    }
    > li:not(:last-child) {
      margin-right: 30px;
    }
  }
  .hero__title {
    font-size: 42px;
  }
  .hero__row {  
    align-items: center;
  }
  .hero__img-w {
    transform: translate(-95px, 0%);
  }
  .ourprojects__geo {
    font-size: 15px;
  }
  .services__item {  
    flex-direction: column;
  }
  .services__l {
    width: 100%;
    aspect-ratio: unset;
    height: 300px;
  }
  .services__r {
    padding: 60px 30px;
  }
  .calcform-2__form {  
    background-size: 200px;
    padding: 40px 40px 40px 240px;
  }
  .calcform__title,
  .calcform-2__title {
    font-size: 37px;
  }
  .footer__top {  
    flex-wrap: wrap;
  }
  .footer__col-1 {
    order: 0;
  }
  .footer__col-2 {
    order: 0;
  }

  .footer__col-4 {
    order: 0;  
    align-items: flex-start;  
    justify-content: flex-end;
  }

  .footer__col-3 {
    order: 0;
  }

  .footer__col-4,
  .footer__col-1 {
    width: 50%;
    margin-bottom: 45px;  
  }
  .footer__col-2,
  .footer__col-3 {
    width: 50%;
  }
  .footer__dw {
    .col-25 {

    }
  }
  .footer__dw-txt {
    font-size: 13px;
  }
  .sadvantages__row {  
    flex-wrap: wrap;
  }
  .sadvantages__l {
    width: 100%;
    padding-right: 0;
    margin-bottom: 25px;
  }
  .sadvantages__r {
    width: 100%;
  }
  .calcform__form {
    background-position: right -340px bottom;
  }
  .servs__row {    
    flex-wrap: wrap;
  }
  .servs__l {
    width: 100%;
    padding-right: 0;
    margin-bottom: 45px;
  }
  .servs__r {
    width: 100%;
  }
  .servs__h2 {
    br {
      display: none;
    }
  }
}//1199

@media (max-width : 991px) {
  .hero__img-w {
    transform: translate(-100px, 0px);    
  }
  .hero__img {
    width: 1250px;
  }
  .hero {
    height: 692px;
    padding-top: 196px;
  }
  .head__row {    
    flex-wrap: wrap;
  }
  .head__logo {
    width: 100%;
    display: flex;    
    justify-content: center;
    margin-bottom: 20px;
    img {
      max-width: 250px;
    }
  }
  .plus-4 {
    right: 242px;
    top: 101px;
  }
  .plus-1 {
    left: 550px;
    top: 194px;
  }
  .plus-2 {
    left: 462px;
    top: 368px;
  }
  .plus-3 {
    left: 380px;
    top: 413px;
  }
  .plus__item {
    width: 100vw;    
    bottom: 0;
    left: 0;
    z-index: 20;
    transform: translate(0%, 0%);
    padding: 25px;
  }
  .plus__row {    
    flex-wrap: wrap;
  }
  .plus__r {
    order: -1;
    margin-left: 0;
    margin-bottom: 25px;
  }
  .plus__item-close {
    position: absolute;
    right: 25px;
    top: 25px;
    transform: rotate(45deg);
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer;
    &:before {
      content: "";
      display: block;
      border-radius: 50%;  
      flex: 0 0 auto;   
      background-color: rgba(66, 171, 117, 0.5);
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
    &:after {
      background: url("../img/plus.svg") center no-repeat rgb(66, 171, 117);
      content: "";
      display: none;
      display: block;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;     
      transition: 0.5s; 
      z-index: 3;  
    }
  }
  .sabout__row {    
    flex-wrap: wrap;
  }
  .sabout__l {
    width: 100%;
    padding-right: 0;
    margin-bottom: 25px;
  }
  .calcform__form {
    padding-bottom: 144px;  
    background-position: right -420px bottom;
  }
  .ourprojects__name {

  }
  .ourprojects__action {

  }
  .ourprojects__col {
    width: 50%;
  }
  .services__l {
    height: 240px;
  }
  .scheme__row {    
    flex-wrap: wrap;
  }
  .scheme__item {
    width: 50%;
  }
  .calcform-2__form {
    background-image: none;
    padding: 40px;
  }
  .footer__dw-col-2 {
    width: 50%;
  }
  .footer__dw-txt-2 {
    margin-right: 0;
  }
  .plus__l {
    width: 100%;
  }
  .plus__item {
    padding-bottom: 53px;
  }
}//991

@media (max-width : 767px) {
  .head__menu > ul {
    display: block;
    margin-bottom: 30px; 
    > li {      
      flex-wrap: wrap;      
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .head__menu .head__sub-menu {
    padding-top: 0;
    width: 100%; 
    flex: none;
    position: static;
    visibility: visible;
    opacity: 1;
    display: block $i;
  }
  .head__menu ul ul {
    background: none;    
    box-shadow: none;
    padding: 20px 0 0 35px;
  }
  .head__col-2 {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;            
    align-items: flex-start;
  }
  .head__col-cont-w {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .head__col-cont-w {    
    flex-direction: column;
  }
  .head__time:not(:last-child), .head__mail:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .head__col {
    width: 100%;
  }
  .head__cols {
    display: block;
    display: none; 
    padding-top: 70px;
  }
  .head__logo {
    width: 155px;
    margin-bottom: 0;
    margin-right: 0;
    img {
      max-width: 100%;
    }
  }


  .hidden-mnu {
    display: block;      
    position: relative;
    z-index: 11;
    margin-left: auto;
  }

  .toggle-mnu {
    display: block;
    display: block;
    width: 36px;
    height: 28px;    
  }
  .toggle-mnu:focus {
    outline: none;
  }
  .toggle-mnu span {
    position: relative;
    display: block;  
    transition: all 0.3s;    
    backface-visibility: hidden;
    width: 36px;
    height: 3px;   
    background: $gr; 

  }
  .toggle-mnu span {
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;      
      width: 36px;
      height: 3px;   
      background: $gr;
      transition: all 0.3s;    
      backface-visibility: hidden;             
      border-radius: 1px;
    }
  }
  .toggle-mnu span:after {
    top: 13px;
  }
  .toggle-mnu span:before {
    top: 26px;
  }

  .toggle-mnu {      
    span {
      bottom: 0px;
    }

    &.on {
      span {
        background-color: $tr;
      }
    }
  }


  .toggle-mnu.on span:before    {
    transform: rotate(45deg) translate(5px, 5px);
    top: 4px;
  }
  .toggle-mnu.on span:after    {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 23px;
  }
  .toggle-mnu.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  .head.h100 {
    height: 100vh;
    overflow: auto;
  }
  .hero__img {
    width: 1173px;
  }
  .hero__img-w {    
    transform: translate(197px, 0%);
  }
  .hero {
    height: auto;
  }
  .servs__content {
    padding: 0 20px 20px 20px;
  }
  .servs__col {
    width: 100%;
  }
  .services__col {
    width: 100%;   
  }
  .calcform-2__form {
    padding-bottom: 341px;
    background: #42AB75 url("../img/form-woman.png") no-repeat center bottom;
  }
  .calcform-2__row {    
    flex-wrap: wrap;
    .input-text {
     width: 100%;
     margin-top: 0; 
     margin-right: 0;
     margin-bottom: 20px;
   }
   .calcform__btn {
    width: 100%;
    max-width: 100%;
  }
} 
.footer__dw {  
  flex-wrap: wrap;
  .col-25 {
    width: 50%;      
  }
} 
.footer__dw-col-1 {
  margin-bottom: 25px;
}
.sadvantages__row {  
  flex-wrap: wrap;
}
.sadvantages__col {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero__title {
  font-size: 32px;
}
.hero__subtitle {
  font-size: 20px;
}
.plus-4 {
  left: 200px;
  top: 96px;
}
.plus-2 {
  left: 435px;
  top: 341px;
}
.plus-1 {
  left: 450px;
  top: 174px;
}
.plus-3 {
  left: 340px;
  top: 388px;
}
.sabout__r {
  width: 100%;
  max-width: 360px;
}
.calcform__form {
  padding-bottom: 341px;
  background-image: url('../img/calcform-mob-bg.png');
  background-position: center bottom -80px;
}
.calcform__col {
  width: 100%;
}
.calcform__form:after {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
}//767

@media (max-width : 640px) {
  .ourprojects__name {
    font-size: 20px;
  }
}//640

@media (max-width : 575px) {
  .ourprojects__name {

  }
  .services__l {
    height: 330px;
  }
  .hero__row {    
    flex-wrap: wrap;
  }
  .hero__content {
    top: 30px;
  }
  .hero__calc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .hero {
    padding-top: 256px;
  }
  .h2,
  .calcform__title,
  .calcform-2__title {
    font-size: 32px;
  }
  .h2 {    
    &:before {
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      min-height: 48px;
    }
  }
  .servs__txt,
  .scheme__txt,
  .services__txt,
  .p {
    font-size: 18px;
    br {
      display: none;
    }
  }
  .sadvantages__item {
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
  .calcform-2, .scheme, .ourprojects, .sabout, .sadvantages, .calcform {
    padding-bottom: 120px;
  }  
  .hero {
    margin-bottom: 120px;
  }
  .servs__row {
    margin-bottom: 100px;
  }
  .scheme {
    padding-top: 120px;
  }
  .calcform__form {
    padding: 50px 20px 314px 20px;
    background-position: center bottom -90px;
  }
  .calcform__col:not(:last-child) {
    margin-bottom: 20px;
  }
  .ourprojects__col {
    width: 100%;
  }
  .sabout__r {
    max-width: 100%;
  }
  .services {
    padding-top: 108px;
  }
  .services__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .services__btn {
    height: 48px;
  }
  .scheme__item {
    width: 100%;
  }
  .scheme__item:not(:last-child) .scheme__signs:before {
    transform: rotate(90deg);
  }
  .scheme__cont {
    font-size: 20px;
  }
  
  .footer__col-1 {
    width: 100%;
    text-align: center;
  }
  .footer {
    .col-25 {
      width: 100%;
    }
  }
  .footer__col-1 {
    margin-bottom: 60px;
  }
  .footer__col-3,
  .footer__col-2 {
    margin-bottom: 50px;
  }
  .footer__top {
    padding-bottom: 50px;
  }
  .footer__col-4 {
    margin-bottom: 0;
  }
  .footer__dw {
    text-align: center;
  }
  .footer__dw-col-1 {    
    justify-content: center;
  }
  .footer__dw-txt-2 {
    margin-right: 0;
    width: 100%;    
    flex-direction: column;
  }
  .footer__dw-txt-2 img {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__col-1 {
    margin-top: 0;
  }
  .head {
    padding-top: 30px;
  }
  .show-575 {
    display: block;
  }
  .hero__calc {
    width: 130px;
    height: 130px;
    font-size: 16px;
  }
  .hero__calc:after {
    width: 31px;
    height: 24px;    
    background-size: 31px;
    margin-top: 3px;
  }
  .hero {
    padding-top: 276px;
  }
  .plus-4 {
    left: 225px;
    top: 105px;
  }
  .plus-1 {
    left: 435px;
    top: 197px;
  }
  .hero {
    margin-bottom: 130px;
  }
  .p {
    padding-left: 0;
  }
  
  .sabout__h2 {
    margin-bottom: 37px;
  }
  .sabout__btn {
    margin-top: 11px;
  }
  .sabout__l {
    margin-bottom: 30px;
  }
  .calcform__col {
    padding: 0;
  }
  .calcform__form-row {
    margin-left: 0;
    margin-right: 0;
  }
  .calcform__form {
    padding-bottom: 342px;
    background-position: center bottom -50px;
  }
  .ourprojects__geo {
    margin-top: 19px;
    font-size: 18px;
  }
  .ourprojects__col {
    margin-bottom: 47px;
  }
  .scheme__txt, .services__txt, .p {
    padding-left: 0;
  }
  .services__h2 {
    margin-bottom: 37px;
  }
  .services__row {
    margin-top: 40px;
  }
  .services__r {
    padding: 60px 30px 58px 30px;
  }
  .services__col {
    margin-bottom: 21px;
  }
  .scheme__item {
    padding-bottom: 51px;
  }
  .scheme__title {
    font-size: 24px;
  }
  .scheme__row {
    margin-top: 37px;
  }
  .calcform-2__form {    
    padding: 49px 20px 341px 20px;
  }
  .footer__logo {
    width: 282px;
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
  .footer__rights {
    margin-top: 11px;
  }
  .footer__col-1 {
    margin-bottom: 53px;
  }
  .footer__col-3, .footer__col-2 {
    margin-bottom: 33px;
  }
  .footer__dw-txt {
    font-size: 18px;
  }
  
  .footer__dw {
  }
  .footer__dw-col-1 {
    margin-bottom: 13px;
  }  
  .footer__dw-col-2 {
    margin-top: 25px;
  }
  .footer__dw-txt-2 {
    br {
      display: none;
    }
  }
  .plus__r {
    width: 101px;
    height: 101px;
  }
  .pl-17 {
    padding-left: 0;
  }
  .servs__title {
    font-size: 22px;
  }
  .servs__l {
    margin-bottom: 36px;
  }
  .bread__ul {
    margin-bottom: 64px;
  }
  .servs__h2 {
    margin-bottom: 40px;
  }
  .servs__item {
    min-height: 390px;
  }
  .servs__btn {
    padding: 0 34px;
  }
}//575

@media (max-width : 480px) {}//480

@media (max-width : 387px) {
  .hero__title {
    font-size: 25px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .head__menu ul ul {
    padding-left: 15px;
  }
}//375

@media (max-width : 360px) {
  
  .calcform-2, .scheme, .ourprojects, .sabout, .sadvantages, .calcform {
    padding-bottom: 80px;
  }
  .scheme,
  .services {
    padding-top: 80px;
  }
  .services__btn {
    font-size: 15px;
  }
  .servs__row,
  .hero {
    margin-bottom: 80px;
  }
  .h2, .calcform__title, .calcform-2__title {
    font-size: 29px;
  }
  .servs__title {
    font-size: 20px;
  }
}//360

@media (max-width : 320px) {}//320

@media (min-width: 768px) {
  .toggle-mnu {
    display: none;
  }
  .top-mnu {
    display: block;
  }
}

@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top 0px center;
    .wrapper {
      opacity: 0.4;
    } 
    footer {
      background: none;
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    


}