html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.contain {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.lcpadding {
  padding-left: calc((100% - 1380px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1380px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
/*top menu mnu*/
.menu__list > li:not(:last-child) {
  margin-right: 15px; }

.menu__list li {
  position: relative; }

.menu__list a.parent {
  margin-right: 25px; }

.menu__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  display: block;
  height: 20px; }

.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;
  display: none; }
  .sub-menu__list li {
    padding: 10px; }
  .sub-menu__list > li {
    background-color: #000; }

.sub-menu__link {
  color: #fff; }

.menu-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px); }
  .menu-arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent; }

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block; }

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block; }

body.touch .menu-arrow {
  display: block; }

body.touch .sub-menu__list.open {
  display: block; }

body.touch .sub-sub-menu__list.open {
  display: block; }

@media (max-width: 767px) {
  .menu__list {
    display: block; }
  .sub-menu__list {
    position: static; }
  .sub-sub-menu__list {
    position: static; }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .menu-arrow {
    top: 0px;
    right: 5px; }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear; }
    .sub-menu__list.open,
    .sub-sub-menu__list.open {
      max-height: 300px; } }

/*end top menu mnu*/
.head {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F6F6F6;
  position: relative;
  z-index: 2; }

.head__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.head__logo {
  display: block;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 63px;
  width: 282px; }
  .head__logo img {
    max-width: 100%; }

.head__col {
  margin-left: 0px; }

.head__col-cont-w {
  margin-top: 6px;
  margin-bottom: 31px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.head__time,
.head__mail {
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  color: #282639;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px; }
  .head__time:not(:last-child),
  .head__mail:not(:last-child) {
    margin-right: 168px; }

.head__mail {
  background: url("../img/icons-hd-1.svg") no-repeat left center; }

.head__time {
  background: url("../img/icons-hd-2.svg") no-repeat left center;
  min-height: 20px; }

.head__col-cont-span {
  margin-right: 10px; }

.head__menu .head__sub-menu {
  padding-top: 20px;
  position: absolute;
  left: 0;
  display: block;
  display: none; }

.head__menu ul ul {
  width: auto;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 335px; }
  .head__menu ul ul li:not(:last-child) {
    margin-bottom: 15px; }
  .head__menu ul ul li a {
    text-transform: none; }
    .head__menu ul ul li a:hover {
      color: #42AB75; }

.head__menu > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .head__menu > ul > li {
    position: relative; }
    .head__menu > ul > li:not(:last-child) {
      margin-right: 81px; }
    .head__menu > ul > li:hover .head__sub-menu {
      display: block; }
  .head__menu > ul a {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #282639;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent; }
    .head__menu > ul a:hover {
      text-decoration: none; }
    .head__menu > ul a.act {
      border-bottom: 1px solid #42AB75; }
    .head__menu > ul a.has-burger {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: #282639;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }

.burger {
  height: 16px;
  width: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px; }
  .burger > div {
    background: #42ab75;
    height: 2px;
    width: 100%; }

.head__col-2 {
  text-align: right;
  margin-left: auto;
  margin-top: 14px; }

.head__phone {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #1c2467;
  display: block;
  margin-bottom: 13px; }
  .head__phone:hover {
    text-decoration: none; }

.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: linear-gradient(131.86deg, #42ab75 26.37%, #1c2467 122.56%);
  border-radius: 8px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
  transition: 0.5s;
  position: relative; }
  .btn i {
    background: url("../img/arr-btn-wh.svg") no-repeat 0px 0;
    width: 21px;
    height: 16px;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-left: 10px; }
  .btn > * {
    position: relative; }
  .btn:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(131.18deg, #42AB75 26.67%, #1C2467 77.31%);
    opacity: 0;
    transition: 0.5s; }
  .btn:hover {
    text-decoration: none; }
    .btn:hover:before {
      opacity: 1; }

.hero {
  position: relative;
  height: 900px;
  padding-top: 136px;
  margin-bottom: 149px;
  margin-left: auto;
  margin-right: auto; }
  .hero > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1920px; }

.hero__img-w {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px; }

.hero__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.hero__content {
  width: 100%;
  position: absolute;
  top: 65px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.hero__texts {
  max-width: 970px;
  width: 100%; }

.hero__title {
  font-style: italic;
  font-weight: 800;
  font-size: 58px;
  text-transform: uppercase;
  color: #282639;
  margin-bottom: 5px; }

.hero__subtitle {
  font-style: italic;
  font-weight: 500;
  font-size: 23px;
  text-align: left;
  text-transform: uppercase;
  color: #4d4d4d; }

.hero__calc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 150px;
  height: 150px;
  background: #42ab75;
  margin-left: 66px;
  padding-bottom: 14px;
  cursor: pointer;
  position: relative; }
  .hero__calc span {
    position: relative; }
  .hero__calc:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 8px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(131.86deg, #42AB75 26.37%, #1C2467 122.56%);
    opacity: 0;
    transition: 0.5s; }
  .hero__calc:hover:before {
    opacity: 1; }
  .hero__calc:after {
    position: relative;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 24px;
    height: 31px;
    background: url("../img/arrow.svg") center no-repeat;
    background-size: 24px; }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(66, 171, 117, 0.55); }
  70% {
    box-shadow: 0 0 0 31px rgba(66, 171, 117, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(66, 171, 117, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(66, 171, 117, 0.55); }
  70% {
    box-shadow: 0 0 0 31px rgba(66, 171, 117, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(66, 171, 117, 0); } }

.plus__item {
  z-index: 4; }

.hero__plus {
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  cursor: pointer; }
  .hero__plus:hover {
    -webkit-animation: pulse 2s ease infinite;
            animation: pulse 2s ease infinite; }
  .hero__plus.active {
    -webkit-animation: pulse 2s ease infinite;
            animation: pulse 2s ease infinite; }
    .hero__plus.active:after {
      z-index: 5; }
    .hero__plus.active:before {
      z-index: 4; }
    .hero__plus.active:after {
      -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotateZ(45deg); }
  .hero__plus:before {
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: rgba(66, 171, 117, 0.5);
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2; }
  .hero__plus:after {
    background: url("../img/plus.svg") center no-repeat #42ab75;
    content: "";
    display: none;
    display: block;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: 3; }

.plus__item {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 11px -2px;
  border-radius: 30px;
  padding: 25px;
  width: 600px;
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s; }

.hero__plus.active .plus__item {
  opacity: 1;
  visibility: visible; }

.plus-1 {
  left: 740px;
  top: 304px; }
  .plus-1 .plus__item {
    left: 15px;
    top: 30px; }

.plus-2 {
  left: 712px;
  top: 568px; }
  .plus-2 .plus__item {
    left: 25px;
    bottom: 25px; }

.plus-3 {
  left: 570px;
  top: 638px; }
  .plus-3 .plus__item {
    left: 30px;
    bottom: 30px; }

.plus-4 {
  right: 382px;
  top: 171px; }

.sabout {
  padding-bottom: 150px; }

.sabout__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sabout__l {
  width: 50%;
  padding-right: 92px; }

.h2 {
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  color: #282639;
  font-style: italic;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .h2:before {
    content: "";
    display: block;
    background: linear-gradient(#42aa75 0%, #42ab75 0.01%, #1c2467 100%);
    width: 6px;
    height: 48px;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 10px; }

.p {
  font-size: 20px;
  line-height: 1.3;
  color: #4c4c4c;
  padding-left: 16px;
  margin-bottom: 0; }
  .p:not(:last-child) {
    margin-bottom: 15px; }

.btn-o {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 30px;
  background-image: url("../img/arr-green.svg");
  background-repeat: no-repeat;
  background-position: right center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #42ab75; }
  .btn-o:hover {
    text-decoration: none;
    color: #000; }

.sabout__btn {
  margin-top: 15px; }

.sabout__r {
  width: 50%;
  border-radius: 30px;
  overflow: hidden; }

.sabout__img-w {
  border-radius: 30px;
  overflow: hidden; }

.sadvantages {
  padding-bottom: 150px; }

.sadvantages__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sadvantages__l {
  width: 50%;
  padding-right: 118px; }

.sadvantages__r {
  width: 50%; }

.sadvantages__col {
  width: 33.3333%;
  padding-left: 11px;
  padding-right: 11px; }

.sadvantages__item {
  height: 218px;
  background: #42ab75;
  border-radius: 30px;
  padding: 30px 10px;
  text-align: center; }

.sadvantages__img-w {
  background: white;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sadvantages__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: white; }

.calcform {
  padding-bottom: 150px; }

.calcform__form {
  padding: 50px 60px 55px;
  background-image: url("../img/calcform-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden; }

.calcform__title {
  font-style: italic;
  font-weight: 800;
  font-size: 42px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px; }

.calcform__form-row {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 760px; }

.calcform__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%; }
  .calcform__col:not(:last-child) {
    margin-bottom: 21px; }

.input-text {
  width: 100%;
  border: none;
  height: 48px;
  background: #f1f1f1;
  border-radius: 6px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 20px;
  text-transform: uppercase;
  color: #000; }
  .input-text::-webkit-input-placeholder {
    color: #a8a8a8; }
  .input-text::-moz-placeholder {
    color: #a8a8a8; }
  .input-text:-ms-input-placeholder {
    color: #a8a8a8; }
  .input-text::placeholder {
    color: #a8a8a8; }

.calcform__btn {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  left: 330px;
  top: 2466.35px;
  background: #252636;
  border-radius: 8px; }
  .calcform__btn:hover {
    background: #414255; }

.calcform__label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  margin-top: 15px;
  max-width: 574px; }
  .calcform__label input[type="checkbox"] {
    display: none; }
    .calcform__label input[type="checkbox"] + span {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      background-color: #FFF;
      border-radius: 6px;
      width: 24px;
      height: 24px;
      margin-right: 15px;
      margin-top: -5px; }
    .calcform__label input[type="checkbox"]:checked + span {
      background: url("../img/check.svg") center no-repeat white; }

.calcform__checkbox-txt {
  font-style: italic;
  font-size: 16px;
  color: white; }

.calcform__checkbox-link {
  color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline; }

.ourprojects {
  padding-bottom: 150px; }

.ourprojects__row {
  margin-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.ourprojects__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 33.333%;
  margin-bottom: 45px; }

.ourprojects__item {
  display: block; }
  .ourprojects__item:hover {
    text-decoration: none; }
    .ourprojects__item:hover .ourprojects__img-w:before {
      height: 200px; }
    .ourprojects__item:hover .ourprojects__arrow {
      background: url("../img/arr-round-bl.svg") no-repeat center; }

.ourprojects__img-w {
  height: 400px;
  position: relative;
  border-radius: 30px;
  overflow: hidden; }
  .ourprojects__img-w:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #42AB75 -2.51%, rgba(28, 36, 103, 0) 100%);
    transition: 0.5s; }

.ourprojects__action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px; }

.ourprojects__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1;
  text-transform: uppercase;
  color: white; }

.ourprojects__arrow {
  display: block;
  margin-left: 15px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 32px;
  height: 32px;
  background: url("../img/arr-round-wh.svg") no-repeat center; }

.ourprojects__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.ourprojects__geo {
  padding-left: 26px;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: left top;
  line-height: 1.7;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 14px; }

.ourprojects__btn {
  padding: 0 19px; }

.ourprojects__btn-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px; }

.services {
  background: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 80px; }

.services__txt {
  padding-left: 16px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.3;
  color: #4c4c4c; }

.services__row {
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.services__col {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-bottom: 19px; }

.services__item {
  border-radius: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.services__l {
  width: 345px; }

.services__r {
  background: #42ab75;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 92px;
  padding-left: 30px;
  padding-right: 30px; }

.services__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  color: white;
  margin-bottom: 18px; }

*[class$="__btn"] {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.5s; }
  *[class$="__btn"]:hover {
    text-decoration: none; }

.services__btn {
  padding: 0 34px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #1c2467;
  background: white;
  border: 1px solid #d6ebe7;
  border-radius: 8px;
  height: 50px;
  transition: 0.5s; }
  .services__btn:hover {
    text-decoration: none;
    border: 1px solid #d6ebe7;
    background: #252636;
    color: white; }

.scheme {
  padding-top: 150px;
  padding-bottom: 150px; }

.scheme__txt {
  padding-left: 16px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.3;
  color: #4c4c4c; }

.scheme__row {
  background: #f6f6f6;
  border-radius: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }

.scheme__item {
  width: 25%;
  padding: 25px; }
  .scheme__item:not(:last-child) .scheme__signs {
    position: relative; }
    .scheme__item:not(:last-child) .scheme__signs:before {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      content: "";
      display: block;
      position: absolute;
      right: 0px;
      top: 0;
      width: 48px;
      height: 68px;
      background: url("../img/arr-scheme.svg") no-repeat 0 0; }

.scheme__signs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px; }

.scheme__icon {
  width: 68px;
  height: 68px;
  background: #42ab75;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.scheme__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #282639;
  margin-bottom: 15px;
  font-style: italic; }
  .scheme__title span {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #42ab75; }

.scheme__cont {
  font-size: 20px;
  line-height: 1.3;
  color: #282639; }

.calcform-2 {
  padding-bottom: 150px; }
  .calcform-2 .calcform__label {
    max-width: 100%; }

.calcform-2__form {
  border-radius: 30px;
  padding: 93px 42px 95px 346px;
  background: #42AB75 url("../img/form-woman.png") no-repeat left 18px bottom; }

.calcform-2__title {
  font-style: italic;
  font-weight: 800;
  font-size: 42px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px; }

.calcform-2__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .calcform-2__row .input-text {
    margin-right: 20px; }
  .calcform-2__row .calcform__btn {
    max-width: 230px; }

.footer {
  background: #252636;
  padding-top: 100px;
  padding-bottom: 28px; }

.footer__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px; }

.footer__separator {
  border-bottom: 1px solid rgba(65, 163, 113, 0.5); }

.footer__logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer__col-1 {
  margin-top: -40px; }

.footer__col-1-cont {
  margin-top: 25px; }

.foot__polit {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: white;
  opacity: 0.9;
  display: block; }

.footer__rights {
  font-size: 18px;
  color: white;
  opacity: 0.9;
  margin-top: 7px;
  line-height: 1.2; }

.footer__title {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #42ab75;
  margin-bottom: 30px; }

.footer__ul li {
  line-height: 1.4;
  margin-bottom: 13px; }
  .footer__ul li a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    opacity: 0.9; }
    .footer__ul li a:hover {
      text-decoration: none;
      border-bottom: 1px solid rgba(66, 171, 117, 0.9); }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-25 {
  width: 25%; }

.footer__col-3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.footer__phone {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  opacity: 0.9;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 10px; }
  .footer__phone:hover {
    text-decoration: none; }

.footer__mail {
  display: block;
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  color: white;
  opacity: 0.9;
  background: url("../img/icons-hd-1.svg") no-repeat left center;
  padding-left: 28px; }
  .footer__mail:hover {
    text-decoration: none; }

.footer__mail-span {
  margin-right: 10px; }

.footer__dw {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__dw-col-1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__dw-txt {
  font-size: 18px;
  line-height: 1.2;
  color: white;
  opacity: 0.9; }

.footer__dw-logo-1 {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer__dw-col-2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__dw-txt-2 {
  font-size: 18px;
  line-height: 1.2;
  color: white;
  opacity: 0.9;
  margin-right: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__dw-txt-2:hover {
    text-decoration: none; }
  .footer__dw-txt-2 img {
    margin-left: 30px;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }

.plus__r > img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.plus__title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #282639;
  margin-bottom: 10px; }

.plus__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.plus__text {
  font-size: 16px;
  line-height: 1.3;
  color: #4c4c4c;
  margin-bottom: 10px; }

.plus__btn {
  text-transform: none; }

.plus__r {
  width: 190px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 17px;
  height: 190px;
  border-radius: 30px;
  overflow: hidden; }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
